.mainPage {
    background-color: rgb(149, 167, 201);
    font-family: 'Quicksand', sans-serif;
    font-size: 16px;
    margin: 0px;
    padding: 0px;
}

* {
    box-sizing: border-box;
}

/* Form section for all devices */
#formSection {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    padding: 20px;
}

.label,
.input {
    display: block;
    width: 100%;
    margin-bottom: 15px;
    padding: 10px;
}

.label {
    padding: 10px 0;
}

.input {
    border-radius: 5px;
    border: 1px solid #ccc;
}

.button {
    width: 100%;
    height: 40px;
    border-radius: 10px;
    margin-top: 30px;
    background-color: #5ece64;
    color: white;
    font-weight: 500;
    font-size: 18px;
    border: none;
    cursor: pointer;
}

.button:hover {
    background-color: #0f5b13;
}

/* Styles for desktop */
@media (min-width: 1024px) {
    body {
        display: flex;
        justify-content: space-between;
        height: 100vh;
    }

    #formSection {
        padding: 60px;
        width: 55%;
        background-color: #f9f9f9;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
        overflow: auto;
    }

    .bannerBorder {
        margin-top: 50%;
        border-top: 2px solid white;
        border-bottom: 2px solid white;
        padding: 5px 15px;
    }

    #banner {
        font-size: 30px;
        color: white;
    }

    #bannerMessage {
        font-size: 22px;
    }

    #introSection {
        width: 45%;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .pageHead {
        margin-left: 40px;
    }

    .button {
        padding: 10px;
        border-radius: 15px;
        margin-top: 20px;
        background-color: #4CAF50;
    }

    .button:hover {
        background-color: #45a049;
    }
}

/* Styles for tablets */
@media (min-width: 768px) and (max-width: 1023px) {
    .mainPage {
        font-size: 18px;
    }

    .pageHead {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    #introSection {
        padding: 0px 15px;
    }

    #banner {
        border-top: 2px solid white;
        font-size: 30px;
        font-weight: 600;
        color: white;
        padding-top: 10px;
    }

    #bannerMessage {
        border-bottom: 2px solid white;
        font-size: 22px;
        font-weight: 700;
        padding-bottom: 5px;
    }

    #formSection {
        padding: 50px;
    }

    .label,
    .input {
        width: 100%;
    }

    .button {
        width: 80%;
        border-radius: 15px;
        margin-top: 30px;
        margin-left: 40px;
    }

    .button:hover {
        background-color: #0f5b13;
    }
}

/* Styles for phones */
@media (max-width: 767px) {
    .mainPage {
        background-color: grey;
        font-size: 16px;
    }

    #introSection {
        padding: 20px;
    }

    .pageHead {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    #banner {
        color: white;
        border-top: 2px solid white;

    }

    #bannerMessage {
        border-bottom: 2px solid white;
        padding-bottom: 5px;
    }


    .contact {
        margin: 50px 0;
        width: 100%;
    }

    .label,
    .input {
        border-radius: 10px;
        padding: 11px 10px;
    }

    .button {
        margin-bottom: 30px;
    }
}